backports-abc==0.5
backports.ssl-match-hostname==3.5.0.1
certifi==2016.9.26
cm-api==8.0.0
ecdsa==0.13
happybase==0.9
ordereddict==1.1
paramiko==1.18.1
pycrypto==2.6.1
pyhs2==0.6.0
pywebhdfs==0.4.0
requests==2.9.0
sasl==0.2.1
simple-timer==0.2
singledispatch==3.4.0.3
six==1.10.0
spur==0.3.12
starbase==0.3.2
thrift==0.9.3
tornado==4.4.2
tornado-cors==0.6.0
